{% extends 'MainBundle::base.html.twig' %}

{% block title %}Доставка и оплата-"MSK-medspravki"{% endblock %}
{% block description %}Доставка и оплата Выберите удобный для Вас метод доставки: доставка в руки до{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <section id="delivery">
        <div class="container">
            <h1>Доставка и оплата</h1>
            <h3>Выберите удобный для Вас метод доставки:</h3>
            <ul>
                <li>доставка в руки до кольцевой линии метро — бесплатно;</li>
                <li>доставка на дом в пределах МКАД 300 руб;</li>
                <li>адресная доставка за пределы МКАД — цена договорная.</li>
            </ul>
            <p>Оплата при получении медицинской справки.</p>
            <p>
                <strong>Внимание:</strong> при размещении заказа до 16:00 доставка
                выполняется в текущий рабочий день, при размещении заказа после
                16:00 доставка выполняется на следующий рабочий день.
            </p>
            <img src="{{ asset('bundles/main/images/metro.jpg') }}" alt="Карта московского метро">
        </div>
    </section>
{% endblock %}