{% extends 'MainBundle::base.html.twig' %}

{% block title %}Прайс-лист на наши услуги - "msk-medspravki"{% endblock %}
{% block description %}Прайс-лист Для работников Справка для поступления в ВУЗ и приема на работу / форма{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <section id="price-table">
        <div class="container">
            <div class="table">
                <h1>Прайс-лист</h1>
                {% for category in categories %}
                    <h3>{{ category.name }}</h3>

                    <table width="100%">
                        {% for document in category.documents %}
                            <tr>
                                <td><a href="{{ path('main_spravka', {'url': document.url}) }}">{{ document.name }}</a></td>
                                <td>{{ document.price }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}