{% extends 'MainBundle::base.html.twig' %}

{% block title %}Наши сотрудники-&quot"MSK-medspravki"{% endblock %}
{% block description %}Брусенко Валентина ГригорьевнаВрач-терапевт Тумаев Алексей{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <section id="stuff">
        <div class="container">
            <h1>Наши сотрудники</h1>
            <div class="row cf">
                {% for staff in staffs %}
                    <div class="col-md-15">
                        <h3>{{ staff.fio }}</h3>
                        <img src="{{ asset(staff.image) }}" alt="Врач">
                        <h3>{{ staff.post }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}