<footer id="footer">
    <div class="container">
        <h2>Обязательно к прочтению!</h2>
        <div class="text">
            <p>
                Вся информация (включая цены) на сайте msk-medspravki.ru носит
                исключительно информационный характер и ни при каких условиях
                не является публичной офертой, определяемой положениями статьи
                437 Гражданского кодекса РФ.
            </p>
        </div>
    </div>
</footer>