<header  id="header">

    <nav class="navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="main_menu">
            {#<ul class="nav navbar-nav">
                <li><a href="index.php">Главная</a></li>
                <li><a href="prajs-list.php">Прайс-лист</a></li>
                <li><a href="dostavka-i-oplata.php">Доставка и оплата</a></li>
                <li><a href="nashi-sotrudniki.php">Наши сотрудники</a></li>
                <li><a href="kontakty.php">Контакты</a></li>
            </ul>#}
            {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'MainBundle:Menu:knp_menu.html.twig'}) }}
        </div>
    </nav>
    <div class="container">
        <section class="header">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 ">
                        <div class="logo">
                            <h1>Медицинский<br>Центр</h1>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="contacts">
                            <p>
                                8-968-016-50-30<br>
                                8(495) 969-47-07<br>
                                info@msk-medspravki.ru<br>
                                Москва, ул. Головачева 11А
                            </p>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="docket">
                            <p>Оформление медицинских документов</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



</header>
