
<!--
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Оформление заказа</h3>
    </div>
    <div class="modal-body">
        <section id="orders">
            <div class="container">
                <h1>Оформление заказа</h1>
                <p>Для заказа позвоните по номеру 8 495 969 47 07 или заполните форму ниже и мы свяжемся с вами.</p>
                <div class="form">
                    <form action="mail.php" method="post" autocomplete="on">
                        <label for="name">
                            Имя: *
                            <input type="input" id="name">
                        </label>

                        <label for="address">
                            Адрес: *
                            <input type="input" id="address">
                        </label>

                        <label for="email">
                            E-mail адрес: *
                            <input type="email" id="email">
                        </label>

                        <label for="number">
                            Телефон:
                            <input type="number" id="number" >
                        </label>

                        <label for="order">
                            Тема: *
                            <input type="input" id="order" >
                        </label>

                        <label for="message">
                            Сообщение: *
                            <textarea placeholder="Отправьте нам сообщение..." id="message"></textarea>
                        </label>

                        <label for="file">
                            Прикрепить файл:
                            <input type="file" id="file" >
                        </label>

                        <input type="submit" value="Отправить" class="button">
                    </form>
                </div>
            </div>
        </section>
    </div>

</div>
-->




<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            </div>

            <div class="modal-body">
                <section id="orders">
                        <h1>Оформление заказа</h1>
                        <p>Для заказа позвоните по номеру 8 495 969 47 07 или заполните форму ниже и мы свяжемся с вами.</p>
                        <div class="form">
                            <form action="mail.php" method="post" autocomplete="on">
                                <label for="name">
                                    Имя: *
                                    <input type="input" id="name">
                                </label>

                                <label for="address">
                                    Адрес: *
                                    <input type="input" id="address">
                                </label>

                                <label for="email">
                                    E-mail адрес: *
                                    <input type="email" id="email">
                                </label>

                                <label for="number">
                                    Телефон:
                                    <input type="number" id="number" >
                                </label>

                                <label for="order">
                                    Тема: *
                                    <input type="input" id="order" >
                                </label>

                                <label for="message">
                                    Сообщение: *
                                    <textarea placeholder="Отправьте нам сообщение..." id="message"></textarea>
                                </label>

                                <label for="file">
                                    Прикрепить файл:
                                    <input type="file" id="file" >
                                </label>

                                <input type="submit" value="Отправить" class="button">
                            </form>
                        </div>
                </section>
            </div>
        </div>
    </div>
</div>